.list-group-item {
  line-height: 2.5;
}

.search {
  display: inline-flex;
  margin-left: 400px;
  
}
.container{
  width: 100%
}

.jumbotron{
  width: 100%;
}

.jumbotron{
  width:100%;
}

h1#clubName{
  text-align: center;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}

.navDiv{
  margin:auto;
  width:1000px;
  
}
#navbar-makeclub{
 margin-left: 700px
}


#postCard{
  margin-bottom:10px;
}
#navbar-index-makeclub{
  margin-left:500px;
}

#clubName{
  text-align: left;
}

/* end club.html */


/***** login css *****/

.loginbox{
  margin-top:30px;
  width: 300px;
  display: block;
  margin:auto;
}

.card-img-top{
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;

}
.card-title{
  text-align: center;
}

/***********end login css********/

/********* websocket************/

/* * { font-family:tahoma; font-size:12px; padding:0px;margin:0px;} */
p.web{ line-height:18px; }
div.web { width:500px; margin-left:auto; margin-right:auto;
}
#content { padding:5px; background:#ddd; border-radius:5px;
    overflow-y: scroll; border:1px solid #CCC;
    margin-top:10px; height: 160px; }

#input { border-radius:2px; border:1px solid #ccc;
    margin-top:10px; padding:5px; width:400px;
}
#status { width:88px;display:block;float:left;margin-top:15px; }



