.list-group-item {
  line-height: 2.5;
}

.search {
  display: inline-flex;
  margin-left: 400px;
  
}
.container{
  width: 100%
}

.jumbotron{
  width: 100%;
}

.jumbotron{
  width:100%;
}

h1#clubName{
  text-align: center;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}

.navDiv{
  margin:auto;
  width:1000px;
  
}
#navbar-makeclub{
 margin-left: 700px
}


#postCard{
  margin-bottom:10px;
}
#navbar-index-makeclub{
  margin-left:500px;
}

#clubName{
  text-align: left;
}


/***** login css *****/

.loginbox{
  margin-top:30px;
  width: 300px;
  display: block;
  margin:auto;
}

.card-img-top{
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;

}
.card-title{
  text-align: center;
}



