.list-group-item {
  line-height: 2.5;
}

.search {
  display: inline-flex;
  margin-left: 400px;
  
}
.container{
  width: 100%
}

.jumbotron{
  width: 100%;
}

.btn{
margin-left: 200px;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}
h5{
  text-align: center;
}

/* club.html */

#clubName{
  text-align: left;
}


